// Palette
// #FDF4C0 - cream
// #EBCF7F - 23K gold
// #927335 - tan M&M
// #9E6439 - chocolate fountain
// #503C30 - dark chocolate

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Courgette|Niconne|Crimson+Text|Cookie');

html{
  background: #352001;
}

.column{
  // border: 1px white solid;
  margin-bottom: 25px;
}

h1{
  font-size: 5em;
  color: #EBCF7F;
  text-align: center;
  font-family: 'Niconne', cursive;
  text-shadow: 3px 3px #9E6439;
}

h3{
  font-family: 'Courgette', cursive;
  font-size: 2.25em;
  color: #EBCF7F;
  font-weight: 700;
  text-shadow: 0px 0px 8px #503C30;
  text-align: center;
}

p{
  font-size: 1.2em;
  padding: 6px;
  color: #FDF4C0;
  font-family: 'Crimson Text', serif;
}

blockquote{
  font-size: 1.5em;
  color: #EBCF7F;
  padding: 5px 0 16px 0;
  margin: 0 auto;
  font-family: 'Cookie', cursive;
  line-height: 90%;
}

img{
  border-radius: 3%;
  border: 3px #654025 solid;
}